# Dev environment
# MONGO_URI=mongodb://127.0.0.1:27017/knowledgegraph
# DB_NAME=knowledgegraph
# JWT_SECRET=change_me_before_use
# JWT_EXPIRES_DAYS=7
# CLIENT_ORIGIN=http://localhost:5173
# ADMIN_EMAIL=admin@knowledgegraph.io
# ADMIN_PASSWORD=Admin@1234
# GOOGLE_CLIENT_ID=107068948109-v0omc1e7mktikbttp68se2h6ndo96qav.apps.googleusercontent.com

# Production environment
MONGO_URI=mongodb+srv://vdevgowtham_db_user:7dsHDDeF1la8Sifa@knowledgegraphcluster.nyna4dm.mongodb.net/?appName=KnowledgeGraphCluster
DB_NAME=knowledgegraph
JWT_SECRET=change_me_before_use
JWT_EXPIRES_DAYS=7
CLIENT_ORIGIN=https://kg-frontend-fh6cfxpekq-uc.a.run.app
ADMIN_EMAIL=admin@knowledgegraph.io
ADMIN_PASSWORD=Admin@1234
GOOGLE_CLIENT_ID=107068948109-v0omc1e7mktikbttp68se2h6ndo96qav.apps.googleusercontent.com